// Colors
// -------------------------------

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #43C2F0 !default;
$calm:                            #f3a870 !default;
$balanced:                        #5f6dff!default;
$energized:                       #5cbe7c !default;
$assertive:                       #f26d66 !default;
$royal:                           #ef9ef7 !default;
$dark:                            #444 !default;