
	<div class="container-fluid well goal-container" >
		<h4><strong><%= objective.goal.title.titleize %></strong></h4>
		<h5><%= objective.description %></h5><br />
		<%= objective.unfuck_the_fucking_date %>
	</div>

