<ion-view view-title="{{ friendship.to_user }} and {{friendship.from_user}}">
	
		<!-- <div class="bar bar-header bar-light">
 			<h1 class="title">{{group.description}}</h1>
		</div><br /><br /> -->
		<!-- <h3 align="center">Users in Group</h3>

		<ion-list ng-repeat="user in group.users">
			<ion-item class="item item-icon-left item-icon-right">
			<i class="icon ion-chatbubble-working"></i>
				{{user.username}}
			<i class="icon ion-ios-telephone-outline"></i>
			</ion-item>
		</ion-list> -->
    <ion-pane class="messaging-view">
    <ion-header-bar class="bar-calm">
      <h1 class="title">Ioinc Chat</h1>
    </ion-header-bar>

    <ion-content class="content-stable friend-chat-page"
                 on-swipe-left="hideTime = false"
                 on-swipe-right="hideTime = true">

      <div ng-repeat="message in messages"
           ng-class="{other: message.user_id != userId}"
           class="messages" id="rawr2">

        <div class="message" ng-class="{'slide-right': hideTime, '': !hideTime}">
          <span class="msg">{{ message.content }}</span>
        </div>

        <div class="time" ng-class="{'slide-right': hideTime, '': !hideTime}">{{message.time}}</div>


      </div>

    </ion-content>

    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
      <button class="button button-clear" ng-click="sendMessage()">
        Send
      </button>
    </ion-footer-bar>
  </ion-pane>
			
</ion-view>