<ion-view view-title="My Friends">
	<ion-content>
		<button class="button button-full button-energized" ui-sref="tab.friendSearchResults">Find new Friends</button>
		
		<div ng-controller="modalCtrl" align="center">
			<button class="button button-wide" ng-click="modal.show()" align="center">
				<i class="icon ion-person-stalker" ng-controller="friendRequestsCtrl">{{friendRequestCount}} Friend Requests</i>
			</button>
		</div>

		<div>
			<h3 align="center">Friends</h3>
			<div class="list" ng-repeat="friend in friends">
				<a class="item item-icon-right" ui-sref="tab.friend-chat({id: {{friend.id}}})">
				  <span>{{friend.first_name}} {{friend.last_name}} </span>
				  <span> {{friend.last_checkin.mood}} </span>
				  <span class='badge badge-assertive'> {{friend.last_checkin.need_support ? 'Needs Support' : ''}} </span>
					<i class="icon ion-chevron-right"></i>
				</a>
			</div>
		</div>

		<div ng-controller="groupsCtrl">
			<h3 align="center">Groups</h3>
			<button class='button button-block button-royal' ui-sref="tab.new-group">New Group</button>
			<div class="list" ng-repeat="group in groups track by $index">
				<a class="item item-icon-right" ui-sref="tab.group-show({id: {{group.id}}})">
					{{group.name}}
					<i class="icon ion-chevron-right"></i>
				</a>
			</div>
		</div>



		<!-- <div ng-repeat="friend in friends | filter:query">
			<a class="item item-avatar item-icon-right" href="#/tab/chats/{{friend.id}}">
				<img src="img/nedry.jpg">
				<h2>{{friend.first_name}} {{friend.last_name}}</h2>
				<p>{{friend.last_checkin.remarks}} </p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
		</div> -->
	</ion-content>
</ion-view>