<ion-view>
	<ion-content padding="true">
		<div class="list" ng-controller="friendSearchCtrl">
		  <div class="item item-input-inset">
		    <label class="item-input-wrapper">
		      <input type="text" placeholder="Email" ng-model="searchParams">
		    </label>
		    <button class="button button-small" ng-click="Search()">
		      Submit
		    </button>
		  </div>
		  <ion-list ng-repeat="user in users">
		  <a ui-sref="tab.user-show({id: {{user.id}} })" class="item item-thumbnail-left item-icon-right item-text-wrap">	
	  		<img ng-src="{{ user.avatar }}">
	  		<p>
		  		Username: {{user.username}}<br>
		  		Name: {{user.first_name}} {{user.last_name}}<br>
		  		Sober Since: {{user.sober_date | date:short }}
		  	</p>
	  		<i class="icon ion-chevron-right icon-accessory"></i>		  	
		  </a>
		  </ion-list>
		</div>
	</ion-content>
</ion-view>