<ion-view view-title="My Friends">
	<ion-content>
		<button class="button button-full button-energized" ui-sref="tab.friendSearchResults">Find new Friends</button>
		
		<div ng-controller="modalCtrl" align="center">
			<button class="button button-wide" ng-click="modal.show()" align="center">
				<i class="icon ion-person-stalker" ng-controller="friendRequestsCtrl">{{friendRequestCount}} Friend Requests</i>
			</button>
		</div>
		<ion-item class="item item-divider">
				<h2 align="center">Friends</h2>
		</ion-item>
		<ion-list ng-repeat="friend in friends">
			<a class="item item-avatar item-icon-right" href="#/tab/chats/{{friend.id}}">
				<img src="img/nedry.jpg">
				<h2>{{friend.first_name}} {{friend.last_name}}</h2>
				<p>Friend Status Here </p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
		</ion-list>
	</ion-content>
</ion-view>