<ion-view view-title="{{friend.first_name}} {{friend.last_name}}">
	<ion-content>
		<ion-list>
			<div class="list card">
				<div class="item item-avatar">
					<img src="img/nedry.jpg">
						<h2>About Me</h2>
						<p>Member Since: {{friend.created_at | date:short}}
				</div>
				<div class="item item-body">
					<img class="full-image" src="img/manuel.jpg">
					<p>
						Blah blah blah about  me blah blah blah blah
					</p>
					<p class="subdued">
						<a href="#" class="subdued">1  like</a> 
						<a href="#" class="subdued">340 friends </a>
					</p>
				</div>
			</div>



			<div class="list card">
				<div class="item item-thumbnail-left">
					<img src="img/max.png">
					<h2>Last Checkin</h2>
					<p>Mood: {{lastCheckin.mood}}</p>
					<p class="muted">{{lastCheckin.created_at | date:short}}</p>
					<a href="/#/tab/chats/{{friend.id}}/checkin" class="item-icon-right">
	            <i class="icon ion-chevron-right"></i>
	        </a>
				</div>
			</div>


		</ion-list>
	</ion-content>	
</ion-view>