<ion-view view-title="Goal Actions">
	<ion-content padding="true">
		<h4>{{goal.title}}</h4> 
		<br />
		<h3 align="center">Objectives in this goal</h3>
		<div class="list" ng-controller="objectivesCtrl">
			<div class="item item-icon-right item-text-wrap" ng-repeat="objective in objectives">
				 <p>{{objective.title}}</p>
				 <p>Description:{{objective.description}}</p>
				 <p>Completed {{objective.times_completed}} times!</p>
				 <a class="item-icon-right" ng-controller="objectivePopoverCtrl" ng-click="openPopover($event)"><i class="icon ion-android-more-vertical"></i></a>
			</div>
		</div>
	</ion-content>
</ion-view>