<ion-view view-title="Goal Actions">
	<ion-content padding="true">
		<h4 align="center">{{goal.title}}</h4> 
			<div>
				{{goal.description}} 
			</div>
		<br />
		<h3 align="center">Objectives in this goal</h3>
		<div class="list" ng-controller="objectivesCtrl">
			<div class="item item-icon-right item-text-wrap" ng-repeat="objective in objectives">
				 {{objective.description}}<br>
				 {{objective.status | number : 2}}% Complete
				 <a class="item-icon-right" ng-controller="objectivePopoverCtrl" ng-click="openPopover($event)"><i class="icon ion-android-more-vertical"></i></a>
			</div>
		</div>
	</ion-content>
</ion-view>