<ion-view view-title="journal">
	<ion-content>
		<div class="card">
			<div class="item item-divider" align="center">
					Journal Entry<br>
					<button class="button button-icon icon ion-ios-camera"></button>
			</div>
			
			</div>
				<textarea id="TextArea" ng-model="loremIpsum" ng-keyup="autoExpand($event)" placeholder="Journal Entry Here">
				</textarea>

				<div class="item item-footer">
					<button class="button button-full button-royal">Submit</button>
				</div>
			
		
	</ion-content>
</ion-view>