<ion-view view-title="My Friends">
	<ion-content>
		<div class="list">
			<label class="item item-input item-floating-label">
				<span class="input-label">Group Title</span>
				<input type="text" placeholder="Group Title" ng-model="group.name">
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">Group Description</span>
				<input type="text" placeholder="Group Description" ng-model="group.description">
			</label>
			<button class="button button-block button-royal" ng-click="newGroup()">Create Group</button>
		</div>
	</ion-content>
</ion-view>