<ion-view view-title="Add Objectives to your Goal!">
	<ion-content padding="true">
		<div>
			<p align="center">Research has shown that breaking a large goal down into bite-size pieces will help you achieve it. Set your daily objectives for your goal to be successful!</p>
		</div><br>

		<div class="list">
			<label class="item item-input item-select">
		    <div class="input-label">
		      Objective
		    </div>
		    <select ng-model="objective.suggested_title">
		      <option ng-repeat="obj in suggested_objectives" value="{{obj.title}}">{{obj.title}}</option>
		    </select>
		  </label>
			<label class="item item-input item-floating-label" ng-show="objective.suggested_title == 'Create my own!'">
				<span class="input-label">Name Your Objective</span>
				<input type="text" ng-model="objective.title" placeholder="Title">
			</label>
			<label class="item item-input item-floating-label" ng-show="objective.suggested_title == 'Create my own!'">
				<span class="input-label">What do you want to accomplish?</span>
				<input type="text" ng-model="objective.description" placeholder="Description">
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">How Many Days?</span>
				<input type="number" ng-model="objective.length" placeholder="How many Days?">
			</label>
			<label class="item item-input item-select">
		    <div class="input-label">
		      Recurring
		    </div>
		    <select ng-model="objective.recurring">
		      <option ng-selected="true" value="daily">Daily</option>
		      <option value="weekly">Weekly</option>
		    </select>
		  </label>
			<button class="button button-block button-positive" ng-click="addObjective()">Submit</button>
			<button class="button button-block button-energized" ui-sref="tab.dash">Done</button>
		</div>
		<h3 align="center">Current Objectives</h3>
		<div class="list" ng-repeat="sex in objectiveList track by $index">
			<div class="item item-text-wrap">
				I will {{sex.title}} for {{sex.length}} days!
			</div>
		</div>
	</ion-content>
</ion-view>