<ion-view view-title="Checkin">
	<ion-content><br>
		<h3 align="center">User Check-In</h3>
		<div class="list">
			<label class="item item-input">
				<span class="input"></span>
				<input type="text" placeholder="How are you doing?" ng-model="checkinData.remarks">
			</label>
			<h4 align="center">How is your mood?</h4>
				<div class="item range range-positive">
					<i class="icon ion-android-sad"></i>
					<input type="range" name="mood" min="0" max="6" value="3" ng-model="checkinData.mood">
					<i class="icon ion-android-happy"></i>
				</div>
			<ion-list>
				<ion-checkbox ng-model="checkinData.sober">Sober since last checkin?</ion-checkbox>
				<ion-checkbox ng-model="checkinData.need_support">Do you need support?</ion-checkbox>
			</ion-list>
		<button class="button button-block button-positive" ng-click="newCheckin()">Submit</button>

	</ion-content>
</ion-view>