<ion-view name="register-view">
	<ion-content>
		<div class="list">
			<label class="item item-input item-floating-label">
					<span class="input-label">Username</span>
					<input type="text" placeholder="Username" ng-model="data.username">
			</label>
			<label class="item item-input item-floating-label">
					<span class="input-label">First Name</span>
					<input type="text" placeholder="First Name" ng-model="data.first_name">
			</label>
			<label class="item item-input item-floating-label">
					<span class="input-label">Last Name</span>
					<input type="text" placeholder="Last Name" ng-model="data.last_name">
			</label>
			<label class="item item-input item-floating-label">
					<span class="input-label">Email</span>
					<input type="email" placeholder="Email" ng-model="data.email">
			</label>
			<label class="item item-input item-floating-label">
					<span class="input-label">Password</span>
					<input type="password" placeholder="Password" ng-model="data.password">
			</label>
			<label class="item item-input item-floating-label">
					<span class="input-label">Password Confirmation</span>
					<input type="password" placeholder="Password Confirmation" ng-model="data.password_confirmation">
			</label>
		</div>
		<div class="padding">
			<button class="button button-block button-calm" ng-click="register()">Create Account</button>
		</div>
	</ion-content>
</ion-view>