<ion-view title="Home">
  <ion-content>
    
      <button class="button button-full button-balanced" ng-controller="eventsPopoverCtrl" ng-click="openPopover($event)">
      <p ng-controller="userEventsCtrl"> <i class="icon ion-alert"></i>&nbsp;&nbsp;{{events.length}} Notifications</p>
      </button>
    
    <a class="button button-block button-positive item-icon-right" ui-sref="tab.goal-list">Goals &nbsp;<i class="ion-chevron-right"></i></a>
  </div><br />
  <div ng-controller="DashCtrl" id="sober-card">
    <h4>My Sober Time</h4>
    <div class="time">
      <p id="days">00</p>
      <p class="timeRefDays">days</p>
      <p id="hours">00</p>
      <p class="timeRefHours">hours</p>
      <p id="minutes">00</p>
      <p class="timeRefMinutes">minutes</p>
      <p id="seconds">00</p>
      <p class="timeRefSeconds">seconds</p>
    </div>
  </div>
  <div ng-controller="occurrencesCtrl"> 
    <h3 align="center">Today's Objectives</h3> 
      <div ng-repeat="occurrence in occurrences">
        <div class="item item-text-wrap"> 
          <!-- <img src="http://lorempixel.com/200/200/"> -->
          <p>{{ occurrence.title | uppercase }}</p>
          <a class="item-icon-right" ng-click="markComplete(occurrence); delete($index)"><i class="icon ion-checkmark-circled"></i></a>
          <!-- <p>{{ objective.date | date:short }}</p>  -->
        </div>
      </div>
  </div>
  </ion-content>
</ion-view>
