<ion-view title="Home">
  <ion-content>
    
    <button class="button button-full button-balanced" ng-controller="eventsPopoverCtrl" ng-click="openPopover($event)">
    <p ng-controller="userEventsCtrl"> <i class="icon ion-alert"></i>&nbsp;&nbsp;{{events.length}} Notifications</p>
    </button>
    
    <a class="button button-block button-positive item-icon-right" ui-sref="tab.goal-list">Goals &nbsp;<i class="ion-chevron-right"></i></a>
    <br />
    <div ng-controller="occurrencesCtrl" class="list"> 
      <div class="item item-divider">
        Today
      </div>
      <a ng-repeat="occurrence in occurrences" class="item item-icon-right" href="#" ng-click="markComplete(occurrence); delete($index)">
        {{ occurrence.title }} bitch
        <i class="icon ion-checkmark-circled"></i>
      </a> 
    </div>
  </ion-content>
</ion-view>
