<ion-view view-title="My Checkins">
	<ion-content>
	
		<a class="button button-block button-positive" href="#/tab/checkin/new">Check In! <i class="ion-android-calendar"></i></a>
		<ion-list ng-repeat="checkin in checkIns | orderBy:'created_at':true ">

				<div class="list card">
					<div class="item item-avatar">
						<img ng-src="{{checkin.user_image_url}}">
						<h2>Checkin</h2>
						<p>{{checkin.created_at | date:short }}</p>
					</div>

					<div class="item item-body">
						<!-- img class="full-image" src="img/nedry.jpg" -->
						<p>
							<span class="badge badge-assertive">{{checkin.need_support ? 'Needs Help' : '' }}</span>
						</p>
						<p>
							{{checkin.mood}}
						</p>
						<p>
							{{checkin.remarks}}
						</p>
						 <p>
				      <a href="#" class="subdued">1 Like</a>
				      <a href="#" class="subdued">5 Comments</a>
				    </p>
					</div>
				</div>
		</ion-list>
	</ion-content>
</ion-view>