<ion-view title="Home">
  <ion-content>
    
      <button class="button button-full button-balanced" ng-controller="eventsPopoverCtrl" ng-click="openPopover($event)">
      <p ng-controller="userEventsCtrl"> <i class="icon ion-alert"></i>&nbsp;&nbsp;{{events.length}} Notifications</p>
      </button>
    
    <a class="button button-block button-positive item-icon-right" ui-sref="tab.goal-list">Goals &nbsp;<i class="ion-chevron-right"></i></a>
  </div>
    <ion-list ng-repeat="(key, value) in goals">   
    {{value.date}}   
      <div ng-repeat="objective in goals">
        <div class="item item-text-wrap item-thumbnail-left"> 
          <!-- <img src="http://lorempixel.com/200/200/"> -->
          <p>{{ objective.title | uppercase }}</p>
          <a class="item-icon-right" ng-controller="goalPopoverCtrl" ng-click="openPopover($event)"><i class="icon ion-android-more-vertical"></i></a>
          <!-- <p>{{ objective.date | date:short }}</p>  -->
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
