<ion-view view-title="{{board.title}}">
  <ion-content>
  <div class="list">
  	<h4 align="center">New Post</h4>
  	<label class="item item-input">
  		<input type="text" placeholder="Post Title" ng-model="post.title">
  	</label>
  	<label class="item item-input">
  		<input type="text" placeholder="Post Content" ng-model="post.content">
  	</label>
  	<button class="button button-energized button-block" ng-click="newPost()">Submit</button>
  </div>

  <h3 align="center">Posts</h3>
    <ion-list ng-repeat="post in posts track by $index">
      <ion-item class="item item-text-wrap">
      	{{post.title}}<br>
      	<p> {{post.content}} </p>
      	<p> By: {{post.username}} </p>
    	</ion-item>
    </ion-list>
  </ion-content>
</ion-view>